/* Make the scrollbar always visible so the page doesnt jump */
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

hr {
    color: #fff;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 3px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 30px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .readable{
    text-align: left;
    margin: 10px;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 30px 0;
}
.marketing p + h4 {
    margin-top: 0px;
}

/* Argh, please don't have linebreaks in links in main p */
p.lead a {
    white-space: nowrap;
}
